[submodule "containers/manifest-builder"]
	path = containers/manifest-builder
	url = https://github.com/amonull/container-manifest.git
[submodule "customization/.config"]
	path = customization/.config
	url = https://github.com/amonull/config
[submodule "customization/themes"]
	path = customization/themes
	url = https://github.com/amonull/Themes.git
